.calculator {
  --font-size: calc(var(--button-size) * 0.3);
  display: grid;
  grid-template-columns: repeat(4, var(--button-size));
  grid-template-rows: minmax(var(--button-size), auto) repeat(
      5,
      var(--button-size)
    );
}

.calculator .output-display {
  background-color: rgba(0, 0, 0, 0.7);
  grid-column: 1 / -1;
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;
}

.calculator .output-display .previous-operand {
  color: rgba(255, 255, 255, 0.5);
}

.calculator .output-display .current-operand {
  color: rgba(255, 255, 255, 0.9);
}

.calculator > button {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: var(--font-size);
}

.calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(255, 255, 255);
}

.calculator > button:active {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
}
